@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid red; */
}
body {
    padding:0;
    margin:0;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
/* Header Section */
header {
    background-color: #1f2937;
    display: flex;
    background-size: cover;
    align-self:stretch;
    align-items: center;
    justify-content: space-around;
    color:#F9FAF8;
    padding-top: 15px;
}

header ul {
    display:flex;
    gap:2rem;
    font-weight: 100;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

/* desc section */
.desc {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color:#F9FAF8;
    padding:2rem;
    gap:5rem;
}
img {
    height:17vh;
}
.me {
    height:40vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 0;
}
.text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex:1;
    align-items: flex-start;
    justify-content: center;
    min-width: 300px;
    font-size: 18px;
    
}
.text p{
    margin-top: -10px;
    color: #e5e7eb;
}

.text button {
    background-color: #3882f6;
    border: 3px solid #3882f6;
    border-radius: 5px;
    width: 12vw;
    color:#e5e7eb;
    font-weight: 600;
    font-size: 15px;

}
/* links section */
a {
    text-decoration: none;
    color:#F9FAF8;
}

ul {
    list-style-type: none;
}