@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid red; */
}
body {
    padding:0;
    margin:0;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
/* Header Section */
header {
    background-color: #1f2937;
    display: flex;
    background-size: cover;
    align-self:stretch;
    align-items: center;
    justify-content: space-around;
    color:#F9FAF8;
    padding-top: 15px;
}

header ul {
    display:flex;
    gap:2rem;
    font-weight: 100;
}

.logo {
    font-size: 24px;
    font-weight: 600;
}

/* desc section */
.desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color:#F9FAF8;
    padding:2rem;
    gap:5rem;
}
img {
    height:20vh;
}
.me {
    height:40vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-shrink: 0;
}
.text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex:1;
    align-items: flex-start;
    justify-content: center;
    min-width: 300px;
    font-size: 18px;
    
}
.text p{
    margin-top: -10px;
    color: #e5e7eb;
}

.text button {
    background-color: #3882f6;
    border: 3px solid #3882f6;
    border-radius: 5px;
    width: 20vw;
    color:#e5e7eb;
    font-weight: 600;
    font-size: 15px;
    max-width: 150px;
}
.text button:hover {
    background-color: #F9FAF8;
    color:#1f2937;
    border-color: #f9faf8;
}
.indiff {
    font-size:48px;
    font-weight: bolder;
    color:#f9faf8;
}
/* Cards section */
.ch1, .info {
    display: flex;
    justify-content: center;
}
.ch1 {
    font-size:36px;
    font-weight:600;
    color:#1f2937;
    margin-top: 3rem;
}
.card p {
    max-width: 200px;
}
.info {
    gap:1.5rem;
}
.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color:#1f2937;
    text-align:center;
    margin-top: 2rem;
}
.card img {
    border-radius: 0.3rem;
}

/* quote section */
.quote {
    background-color: #e5e7eb;
    padding: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;

}
.quote p {
    /* max-width:60vw; */
    margin-left: 7rem;
    margin-right: 7rem;
}
.quote h4 {
    align-self: flex-end;
    display:flex;
    flex-direction: row-reverse;
    margin-right: 6rem;
    font-size:15px
}
/* links section */
a {
    text-decoration: none;
    color:#F9FAF8;
}

ul {
    list-style-type: none;
}